<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Proudly presented by ECharts</title>
    {% for jsfile_name in script_list %}
    <script src="../static/{{ jsfile_name }}.js"></script>
    {% endfor %}
</head>

<body>
<div style="margin: auto;width: 70%">
    <div>
        <h3>中国5岁以下儿童死亡率数据故事</h3>
    </div>
    <form action="/" style="float: left">
        <button type="submit">首页</button>
    </form>
    <form action="/bar" style="float: left;margin-left: 10px">
        <button type="submit">儿童死亡率柱状图</button>
    </form>
    <form action="/line" style="float: left;margin-left: 10px">
        <button type="submit">儿童死亡率柱状图</button>
    </form>
    <form action="/word" style="clear: both">
        <span>农村or城市儿童死亡原因</span>
        <select name="city">
            <option value="1">农村</option>
            <option value="2">城市</option>
        </select>
        <span>时间</span>
        <select name="time">
            <option value="2009">2009</option>
            <option value="2010">2010</option>
            <option value="2011">2011</option>
            <option value="2012">2012</option>
            <option value="2013">2013</option>
            <option value="2014">2014</option>
            <option value="2015">2015</option>
            <option value="2016">2016</option>
            <option value="2017">2017</option>
            <option value="2018">2018</option>
        </select>
        <button>选择</button>
    </form>
    <form action="/city">
        <span>业疾病预防医院or疾病预防控制中心儿童死亡数量</span>
        <select name="prevention">
            <option value="1">业疾病预防医院</option>
            <option value="2">疾病预防控制中心</option>
        </select>
        <span>时间</span>
        <select name="time">
            <option value="2009">2009</option>
            <option value="2010">2010</option>
            <option value="2011">2011</option>
            <option value="2012">2012</option>
            <option value="2013">2013</option>
            <option value="2014">2014</option>
            <option value="2015">2015</option>
            <option value="2016">2016</option>
            <option value="2017">2017</option>
            <option value="2018">2018</option>
        </select>
        <button>选择</button>
    </form>
    {% if a %}
    <table border="1">
        <tr>
            <td colspan="11" style="text-align: center"> 2009年-2018年儿童死亡率</td>
        </tr>
        <tr>
            <td></td>
            {% for i in data1_x %}
            <td style="width: 50px;text-align: center">{{ i }}</td>
            {% endfor %}
        </tr>
        {% for foo in data1_y %}
        <tr>
            {% for i in foo %}
            <td style="width: 50px;text-align: center">{{ i }}</td>
            {% endfor %}
        </tr>
        {% endfor %}


    </table>
    <table border="1">
        <tr>
            <td colspan="11" style="text-align: center"> 2009年-2018年农村儿童死原因占比</td>
        </tr>
        <tr>
            <td></td>
            {% for i in data2_x %}
            <td style="width: 50px;text-align: center">{{ i }}</td>
            {% endfor %}
        </tr>
        {% for foo in data2_y %}
        <tr>
            {% for i in foo %}
            <td style="width: 50px;text-align: center">{{ i }}</td>
            {% endfor %}
        </tr>
        {% endfor %}


    </table>
    <table border="1">
        <tr>
            <td colspan="11" style="text-align: center"> 2009年-2018年城市儿童死原因占比</td>
        </tr>
        <tr>
            <td></td>
            {% for i in data3_x %}
            <td style="width: 50px;text-align: center">{{ i }}</td>
            {% endfor %}
        </tr>
        {% for foo in data3_y %}
        <tr>
            {% for i in foo %}
            <td style="width: 50px;text-align: center">{{ i }}</td>
            {% endfor %}
        </tr>
        {% endfor %}


    </table>
    <table border="1">
        <tr>
            <td colspan="11" style="text-align: center"> 2009年-2018年中国疾病预防控制中心儿童死亡数据</td>
        </tr>
        <tr>
            <td></td>
            {% for i in data4_x %}
            <td style="width: 50px;text-align: center">{{ i }}</td>
            {% endfor %}
        </tr>
        {% for foo in data4_y %}
        <tr>
            {% for i in foo %}
            <td style="width: 50px;text-align: center">{{ i }}</td>
            {% endfor %}
        </tr>
        {% endfor %}


    </table>
    <table border="1">
        <tr>
            <td colspan="11" style="text-align: center"> 2009年-2018年中国专业疾病预防医院儿童死亡数据</td>
        </tr>
        <tr>
            <td></td>
            {% for i in data5_x %}
            <td style="width: 50px;text-align: center">{{ i }}</td>
            {% endfor %}
        </tr>
        {% for foo in data5_y %}
        <tr>
            {% for i in foo %}
            <td style="width: 50px;text-align: center">{{ i }}</td>
            {% endfor %}
        </tr>
        {% endfor %}


    </table>
    {% endif %}
    {{ myechart|safe }}
    <div style="size: 50px"><b>{% if text %}
        分析
        {% endif %}</b></div>
    <div style="float: left;width: 70%">
        <p style="text-indent:2em">{{ text }}</p>
    </div>
    <div style="size: 50px;clear: both"><b>{% if text1 %}
        总结
        {% endif %}</b></div>
    <div style="float: left;width: 70%">
        <p style="text-indent:2em">{{ text1 }}</p>
    </div>
</div>
</body>

</html>